:root {
  --main-color: #e61f1c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-image: url(images/5086.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: 20px auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.card-img:hover img {
  filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%)
    hue-rotate(-50deg) saturate(400%) contrast(2);
  transition: all 0.3s ease-in-out;
}

.card-img:hover .info-text {
  display: block;
  position: absolute;
  top: -20rem;
  color: #fff;
  text-align: center;
  font-weight: 800;
  font-size: 1.1rem;
}

.carcard-img:hover .card-img {
  margin-bottom: 2rem;
  transition: all 0.3s ease-in-out;
}

.card-img {
  position: relative;
  margin: 0 auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 0.75rem;
}

.card-img img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.card-img .card-text {
  position: absolute;
  top: 95%;
  text-align: center;
  font-family: "Raleway";
  font-weight: 800;
  color: #fff;
  padding: 0.3rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  width: 90%;
  font-size: 1.25rem;
  background-color: var(--main-color);
}

.info-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-card .info-text {
  font-family: "Raleway";
  text-align: left;
  font-size: 0.9rem;
  font-weight: 500;
  width: 80%;
  padding: 0.25rem;
}

.info-card .info-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tachado {
  text-decoration: line-through;
  color: var(--main-color);
}

.price {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1rem;
}

.pedir {
  display: block;
  width: 6rem;
  cursor: pointer;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 0.9rem;
  color: #fff;
  background-color: var(--main-color);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin: 0 auto;
  margin-left: 0.5rem;
}

.text-descuento {
  z-index: 999;
  position: absolute;
  top: 3%;
  right: 0;
  font-family: "Raleway";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.material-symbols-outlined {
  display: flex;
  flex-direction: row;
  font-weight: 800;
  background-color: var(--main-color);
  color: #fff;
  padding: 1.25rem;
  border-radius: 100%;
}
.descuento {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
  font-weight: 800;
  background-color: var(--main-color);
  color: #fff;
  margin-left: -1rem;
  padding: 1.25rem;
  max-width: 80%;
  max-height: 3rem;
  text-align: center;
  border-radius: 0 0.5rem 0.5rem 0;
}

@media (max-width: 1030px) {
  .card-img .card-text {
    font-size: 1rem;
  }
  .info-card {
    /* background-color: red; */
    margin-top: 2rem;
  }
}

@media (max-width: 570px) {
  .card-img .card-text {
    font-size: 0.7em;
  }
  .info-card {
    /* background-color: red; */
    margin-top: 1rem;
  }
}

@media (max-width: 720px) {
  .card:hover .info-text {
    top: -15rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 580px) {
  .card:hover .info-text {
    top: -10rem;
    font-size: 0.7rem;
  }
}
